.btn-popup {
  position: relative;
  margin: 2rem;
}
.btn-popup-btn {
  position: absolute;
  font-size: 1rem;
  width: 100px;
  height: 25px;
  background-color: rgb(30, 27, 27);
  transition-duration: 500ms;
  padding: 1rem;
  border-radius: 10rem;
}

.btn-popup-text {
  position: absolute;
  font-size: 1rem;
  font-weight: bold;
  top: 0;
  transition-duration: 500ms;
  color: rgb(221, 225, 235);
  padding: 0.5rem 1rem;
}

.btn-popup:hover .btn-popup-text {
  transform: rotate(-10deg) translateY(-20px) translateX(-10px);
  font-size: 1.5rem;
  filter: drop-shadow(3px 2px 0px #44b4dd) drop-shadow(4px 1px 0px #db44dd);
}

.btn-popup:hover .btn-popup-btn {
  width: 130px;
}
